$colors:#25c4c8,#2c6a8a, #2e586f, #304c5d, #2c6a85, #2c6a8a, #2e586f;

body, html{
    height: 100%;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 100;
}

h1{
    color: white;
    background-color: #2e586f;
    margin: 1.2rem 1.8rem;
    padding-bottom: .5rem;
    text-align: center;
    border-radius: 1rem;
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    //grid-gap: 3rem;
    border-radius: 0.5rem;
    //background-color: white;
    width: 95%;
    margin: 0 auto 2rem;
    
    text-align: center;

//    -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.2); 
//    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.2);
    .card{
        /*Card style*/
        width: 90%;
        border-radius: 0.5rem;
        overflow:hidden;
        -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.2); 
        box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.2);
        
        /*Card background color for each persons*/
        @for $i from 1 through 7 {
            &:nth-of-type(#{$i}){
                background: nth($colors, $i);
            }
        }
        margin: 1rem auto ;

        /*Transition*/
        transition: transform 0.1s;
        &:hover{
            transform: translateY(10px);
        }
        /*Image style*/
        img{
            width: 90%;
            height: auto;
            margin: 5% 5% 0 5%;
            border-radius: 0.5rem;
            -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.2); 
            box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.2);
        }
        /*Info style*/
        .info{
            margin: 1rem 1rem;
            border-radius: 1rem;
            width: 90%;
            /*Transition*/
            transition: transform 0.1s;
            &:hover{
                transform: translateY(-10px);
            }

            .full-width{
                background-color: white;
                width: 100%;
        
                height: 2.5rem;
                color: #2888b6;
                font-size: 1.5rem;
                font-weight: 200;
                border-radius: 1rem;
                margin: auto;
            }
        }
    }
}




